.tableWrapper {
  min-height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
}


.tableContainer {

  height: calc(100vh - 17rem);
  margin-bottom: 2rem;
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

