.searchForm {
  display: flex;
  width: 100%;
  max-width: 900px;
  gap: 16px;

  .searchInput {
    flex-grow: 1;
    background-color: white;
    border-radius: 4px;
    height: 40px;

  }

  .searchButton {
    min-width: 100px;
  }
}